.light {
  /* Light theme styles */
  background-color: white;
  color: black;
}

.dark {
  /* Dark theme styles */
  background-color: black;
  color: white;
}

.container {
  box-sizing: border-box;
  padding: 0;
  margin: -10px;
  scroll-behavior: smooth;
  background-color: #121415;
  min-height: 1000px;
  position: relative;
}
